*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    overflow: hidden;
}
:root{
    --purple:#a423ff;
    --white:rgb(255, 255, 255);
    --darkpurple:#6705ad;
    --lightpurple:#e1b8ff;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container form {
    width: 98%;
    max-width: 400px;
    background-color: var(--white);
    padding: 10px;
    border-radius: 4px;
}
.container form h1 {
    text-align: center;
    color:var(--darkpurple);
}
.container form .box {
    width: 100%;
    /* background-color: aqua; */
    margin: 15px 0;
}
.container form .box > label {
    font-size: 16px;
    color: var(--darkpurple);
    
}
.container form .box > input[type="text"],
.container form .box > input[type="email"],
.container form .box > input[type="password"],
.container form .box > input[type="submit"] {
    width: 100%;
    padding: 5px 12px;
    font-size: 17px;
    margin-top: 3.5px;
    color: var(--darkpurple);
    border: 2px solid var(--lightpurple);
    border-radius: 4px;
    transition: 0.3s;
}
.container form .box > input[type="text"]:focus,
.container form .box > input[type="email"]:focus,
.container form .box > input[type="password"]:focus,
.container form .box > input[type="submit"]:focus {
    border-color: var(--purple);
}
.container form .box > input[type="submit"] {
    background-color: var(--darkpurple);
    border-color: var(--darkpurple);
    padding: 8px 0;
    color: var(--white);
    cursor: pointer;
}
.container form .box > input[type="submit"]:hover {
    opacity: 0.85;
}
.container form .box > input[type="submit"]:active {
    transform: scale(0.95);
}
.container form .box > .error {
    color: red;
}
.container form .box > .radio-box {
    width: 100%;
}
.container form .box > .radio-box input {
    margin-right: 5px;
    margin-top: 7px;
}
.container form .box > .radio-box label {
    margin-right: 20px;
    color: var(--darkpurple);
    cursor: pointer;
}
.container form .box:last-child {
    text-align: center;
    color: var(--darkpurple);
}
.container form .box a {
    color:var(--purple);
    transition: 0.3s;
}
.container form .box a:hover {
    color: var(--darkpurple);
}


.container .message-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
    max-width: 500px;
}
.container .message-box h1 {
    color: white;
    text-align: center;
}
.container .message-box h4 {
    color: white;
    font-size: 20px;
    margin: 25px 0;
    text-align: center;
}
.container .message-box button {
    padding: 7px 25px;
    background-color: white;
    color: var(--darkpurple);
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 20px;
    margin: 0 15px;
}
.container .message-box button:hover {
    opacity: 0.9;
}

.container form .error-box {
    color: red;
    background-color: rgb(255, 231, 231);
    padding: 7px 0;
    text-align: center;
    margin-top: 8px;
    border-radius: 4px;
}



